<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>PLANTHAUS</h2>
    <h3><%= @plant.name %></h3>

    <div class="content">
      <p>Scientific name: <%= @plant.scientific_name %></p>
      <p>Plant type: <%= @plant.plant_type %></p>
      <p>Water requirement: <%= @plant.water_requirement %></p>
      <p>Light requirement: <%= @plant.light_requirement %></p>
      <p>Date puchased: <%= @plant.date_purchased %></p>
      <p>Notes: <%= @plant.notes %></p>
      <p>Owner: <%= User.find_by_id(@plant.user_id).username %></p>
      <p><a href="/plants/<%= @plant.id %>/edit">Edit Plant</a></p>
      <p><a href="/plants/<%= @plant.id %>/delete">Remove Plant</a></p>
      <br/>
      <a href="/plants">All Plants</a><br/>
      <a href="/logout">Logout</a>
    </div>

  </div>
</div>
